<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link href="/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
	<title></title>
</head>
<body>
	<?php echo $content;?>  
	<button class="btn-delete" data-href="/index/index/ajax" data-msg="确认？" data-message="成功！">模拟请求ajax</button>


</body>
<!-- select2 -->
<script type="text/javascript" src="/bower_components/select2/vendor/jquery-2.1.0.js" rel="stylesheet"></script>
<script type="text/javascript" src="/bower_components/select2/dist/js/select2.min.js" rel="stylesheet"></script>
<script type="text/javascript" src="/bower_components/select2/dist/js/i18n/zh-CN.js" rel="stylesheet"></script>

<!-- self defined func -->
<script type="text/javascript" src="/js/common.js" rel="stylesheet"></script>

<script type="text/javascript">
	


</script>
</html>